body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
}