body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    color: gray;
    font-size: 21px;
}